<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.dao.RightDao">

   <select id="select" resultType="emp">
       select * from tb_emp
   </select>

   <select id="getEmps" parameterType="emp" resultType="emp">
       select * from tb_emp
       <where>
           <if test="empName != null">
               and empName=#{empName}
           </if>
           <if test="empno != null">
               and empno=#{empno}
           </if>
       </where>

   </select>

    <delete id="deletes" parameterType="int[]">
        delete from tb_emp
        <where>
            empid in
            <foreach collection="array" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </delete>

    <insert id="insert" parameterType="emp">
        insert into tb_emp values(null,#{role.roleid},#{empno},#{empName},#{password},#{tel})
    </insert>

    <select id="getLikeSelect" parameterType="emp" resultType="emp">
        select * from tb_emp
        <where>
            <if test="empName != null">
                empname like "%"#{empName}"%"
            </if>
        </where>
    </select>

    <select id="getUsers" resultMap="myUsers">
        select empid,empno,password,empname,tb_role.roleid,tel from tb_emp inner join tb_role
        on tb_emp.roleid=tb_role.roleid
    </select>
    
    <resultMap id="myUsers" type="emp">
        <id column="empid" property="empid"/>
        <result column="empno" property="empno"/>
        <result column="password" property="password"/>
        <result column="empname" property="empName"/>
        <result column="tel" property="tel"/>

        <!-- 映射一个集合（多对一）javaType：dept中的数据类型 -->
        <association property="role" javaType="role">
            <id column="roleid" property="roleid"/>
            <result column="rolename" property="rolename"/>
        </association>
    </resultMap>


    <select id="getRoles" resultMap="myRoles">
        select empid,empno,password,empname,tb_role.roleid,tel from tb_emp inner join tb_role
        on tb_emp.roleid=tb_role.roleid
    </select>

    <resultMap id="myRoles" type="role">
        <id column="roleid" property="roleid"/>
        <result column="rolename" property="rolename"/>
        <!--映射一个集合（一对多） ofType：emps中的数据类型 -->
        <association property="emp" javaType="emp">
            <id column="empid" property="empid"/>
            <result column="empno" property="empno"/>
            <result column="password" property="password"/>
            <result column="empname" property="empName"/>
            <result column="tel" property="tel"/>
        </association>
    </resultMap>

</mapper>